@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
 .box-shadow {
  box-shadow: 0.4rem 0.4rem 0 rgb(39, 39, 39);
  border: 4px solid black;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.poop {

  font-family: 'Poppins', sans-serif;
}
.poppins {
  font-family: 'Archivo Narrow', sans-serif;
  
}
.press {

  font-family: 'Dela Gothic One', cursive;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
 .box-shadow {
  box-shadow: 0.4rem 0.4rem 0 rgb(39, 39, 39);
  border: 4px solid black;
 }
.archivo {

  font-family: 'Francois One', sans-serif;
}
.popup-content{margin:auto;background:#fff
  ;padding:5px;
  border:1px solid #d7d7d7}[role=tooltip].popup-content{width:200px;box-shadow:0 0 3px rgba(0,0,0,.16);border-radius:5px}.popup-overlay{background:rgba(0,0,0,.5)}[data-popup=tooltip].popup-overlay{background:transparent}.popup-arrow{-webkit-filter:drop-shadow(0 -3px 3px rgba(0,0,0,.16));filter:drop-shadow(0 -3px 3px rgba(0,0,0,.16));color:#fff;stroke-width:2px;stroke:#d7d7d7;stroke-dasharray:30px;stroke-dashoffset:-54px;left:0;right:0;top:0;bottom:0}
